body {
  background-image: url(https://images.unsplash.com/photo-1529753253655-470be9a42781?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Nunito, sans-serif;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  height: 100px;
}

#mainNavbar .navbar-brand {
  color: white;
  font-size: 2rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbartext:hover {
  text-shadow: 0 0 7px white, 0 0 10px white, 0 0 30px #44bbff, 0 0 60px #44bbff;
}

.navbar.scrolled {
  background: #003858;
  transition: background 1s;
}

#hello {
  color: white;
  font-weight: 400;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: textfadeIn ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#hello:hover {
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px #44bbff, 0 0 82px #44bbff;
}

@keyframes textfadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#mhcontent {
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
}

#skillsheading {
  color: white;
  font-weight: 200;
  font-size: 1.75rem;
}

#skillsheading:hover {
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px #44bbff, 0 0 82px #44bbff;
}

#project1 {
  color: white;
  font-weight: 200;
  font-size: 1.75rem;
}

#project1:hover {
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px #44bbff, 0 0 82px #44bbff;
}

#project1content {
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
}

#project2 {
  color: white;
  font-weight: 200;
  font-size: 1.75rem;
}

#project2:hover {
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 42px #44bbff, 0 0 82px #44bbff;
}

#project2content {
  color: white;
  font-weight: 300;
  font-size: 1.25rem;
}

@media (max-width: 1200px) {
  #mainheading {
    font-weight: 200;
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
  #mhcontent {
    font-weight: 300;
    font-size: 0.75rem;
  }
}

@media (max-width: 1024px) {
  #project1content {
    font-weight: 300;
    font-size: 0.75rem;
  }
}

@media (max-width: 1024px) {
  #hello,
  #skillsheading,
  #project1 {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  #img1,
  #img2 {
    width: 0;
  }
}

/* My Skills */

.progress {
  height: 20px;
  border-radius: 20px;
}

.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}
span {
  display: block;
  position: relative;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #888888;
  line-height: 17px;
  margin-bottom: 5px;
}
.progress-bar {
  text-align: left;

  border-radius: 20px;
  transition-duration: 3s;
}

.carousel-control-next {
  background-color: black;
  width: 40px;
}

.carousel-control-prev {
  background-color: black;
  width: 40px;
}

.play-btn {
  position: absolute;
  z-index: 666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 0;
}

.play-btn:hover {
  cursor: pointer;
}

.play-btn:focus {
  outline: 0;
}
