body {
  background-color: #00152e;
  font-family: Nunito, sans-serif;
}

#mainNavbar .navbar-brand {
  color: #00a2ff;
  font-size: 2rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link:hover {
  color: #00a2ff;
}

#mhcontent {
  color: white;
  font-weight: 100;
  font-size: 1.25rem;
}

#about {
  color: white;
  font-weight: 100;
  font-size: 1.5rem;
}

#abcontent {
  color: white;
  font-weight: 100;
  font-size: 2rem;
}

#abcontent span {
  color: white;
  font-weight: 100;
  font-size: 0.75rem;
}

#project1 {
  color: white;
  font-weight: 100;
  font-size: 1.5rem;
}

#project1content {
  color: white;
  font-weight: 100;
  font-size: 1rem;
}

.navbar.scrolled {
  background: black;
  transition: background 1s;
}

.container #title {
  display: inline-block;
}

.typing {
  overflow: hidden;
  border-right: 0.1em solid white;
  white-space: nowrap;
  animation: typing 10s forwards;
  font-size: 1.75rem;
  width: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  #mainheading {
    font-weight: 100;
    font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {
  #about {
    font-weight: 100;
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  #abcontent {
    font-weight: 100;
    font-size: 0.5rem;
  }
}

/* My Skills */

.progress {
  height: 20px;
  border-radius: 20px;
}

.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}
span {
  display: block;
  position: relative;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #888888;
  line-height: 17px;
  margin-bottom: 5px;
}
.progress-bar {
  text-align: left;

  border-radius: 20px;
  transition-duration: 3s;
}

.carousel-control-next {
  background-color: black;
  width: 40px;
}

.carousel-control-prev {
  background-color: black;
  width: 40px;
}

.play-btn {
  position: absolute;
  z-index: 666;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 0;
}

.play-btn:hover {
  cursor: pointer;
}

.play-btn:focus {
  outline: 0;
}
