body {
  font-family: Montserrat;
  background-image: url(https://images.unsplash.com/photo-1516035069371-29a1b244cc32?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1364&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

#title {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  text-shadow: 0 0 7px white, 0 0 14px white, 0 0 21px white,
    0 0 28px rgb(44, 171, 255), 0 0 35px rgb(44, 171, 255),
    0 0 50px rgb(44, 171, 255);
}

.thumbnail {
  border: 5px solid white;
}

.thumbnail:hover {
  position: relative;
  top: -25px;
  left: -35px;
  width: 500px;
  height: auto;
  display: block;
  z-index: 999;
  transition: 1.5s;
}

.content {
  display: flex;
  width: 90%;
  height: 100%;
  margin: auto;
  flex-direction: column;
  flex: 1;
}

.container-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-row-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
